html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
*::selection {
  background: #4caf4f3e;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, system-ui, Helvetica Neue,
    PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC,
    WenQuanYi Micro Hei, sans-serif;
  word-break: break-word;
}
#___OkMarvin___ {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
code:not([class^='language']) {
  background-color: rgba(27, 31, 35, 0.05);
  padding: 0 3px;
  display: inline-block;
  word-break: break-word;
}
blockquote {
  background-color: #f9f9f9;
  margin: 18px 0;
  padding: 0 30px;
  position: relative;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
  border-left: 5px solid #cc5800;
  overflow: auto;
}
video,
img,
iframe {
  max-width: 100%;
  height: auto;
  max-height: 800px;
}
img {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
a:link {
  text-decoration: none;
  color: #0033cc;
}
a:hover {
  text-decoration: underline;
}
.d-flex {
  display: flex !important;
}
table {
  border-collapse: collapse;
}
table th {
  text-align: left;
}
table th,
table td {
  border-top: 1px solid #ccc;
  padding: 2px 5px;
}
table tbody tr:nth-of-type(2n + 1) {
  background: rgba(0, 0, 0, 0.05);
}

html {
  font-size: 1.125em;
}
body {
  line-height: 1.6;
}
h4 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1.44rem;
  margin-top: 3.2rem;
  margin-bottom: 0;
  font-weight: normal;
}
h2 {
  font-size: 1.728rem;
  margin-top: 4.8rem;
  margin-bottom: 0.8rem;
}
.toc {
  margin-top: 1.6rem;
}
.toc > ul:before {
  /* FIXME should change by lang */
  content: 'Table of contents';
  display: block;
  font-size: 1.728rem;
  line-height: 3.2rem;
  margin-left: -1rem;
}
.toc > ul {
  padding-left: 1rem;
}
.toc > ul ul {
  padding-left: 1rem;
}
.toc + * {
  margin-top: 0;
}
.okmarvin-content {
  line-height: 1.4;
  color: #222;
}
.okmarvin-content > p {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.okmarvin-content a:link {
  border-bottom: 1px solid #0000ff40;
}
.toc a:link {
  border-bottom: none !important;
}
@media screen and (min-width: 45em) {
  h4 {
    font-size: 1.333rem;
  }
  h3 {
    font-size: 1.776889rem;
  }
  h2 {
    font-size: 2.3685930369999997rem;
  }
  .toc {
    margin-top: 3.2rem;
  }
}
